<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seckill_backend.mapper.SeckillProductMapper">

    <!-- 添加秒杀商品 -->
    <insert id="addSeckillProduct" parameterType="com.example.seckill_backend.model.SeckillProduct">
        INSERT INTO seckill_product (activity_id, product_id, price)
        VALUES (#{activityId}, #{productId}, #{price} )
    </insert>

<!--    &lt;!&ndash; 更新商品库存（普通商品库存） &ndash;&gt;-->
<!--    <update id="updateProductStock" parameterType="map">-->
<!--        UPDATE product-->
<!--        SET stock = stock - #{stock}-->
<!--        WHERE id = #{productId}-->
<!--    </update>-->

    <!-- 通过商品ID获取秒杀商品 -->
    <select id="getSeckillProductByProductId" resultType="com.example.seckill_backend.model.SeckillProduct">
        SELECT * FROM seckill_product WHERE product_id = #{productId}
    </select>

<!--    &lt;!&ndash; 更新秒杀商品库存 &ndash;&gt;-->
<!--    <update id="updateSeckillProductStock" parameterType="map">-->
<!--        UPDATE seckill_product-->
<!--        SET stock = #{stock}-->
<!--        WHERE product_id = #{productId}-->
<!--    </update>-->

    <!-- 获取商品的当前库存 -->
    <select id="getProductStock" resultType="int">
        SELECT stock FROM product WHERE id = #{productId}
    </select>

<!--    &lt;!&ndash; 查询所有秒杀商品的名称和图片信息 &ndash;&gt;-->
<!--    <select id="getAllSeckillProductNamesAndImages" resultType="map">-->
<!--        SELECT p.name AS productName, p.image_url AS productImage-->
<!--        FROM seckill_product sp-->
<!--                 INNER JOIN product p ON sp.product_id = p.id-->
<!--    </select>-->

    <!-- 根据活动ID获取所有秒杀商品 -->
    <select id="getSeckillProductsByActivityId" resultType="com.example.seckill_backend.model.SeckillProduct">
        SELECT sp.id, sp.activity_id AS activityId, sp.product_id AS productId,
               sp.price,
          p.name AS productName, p.image_url AS productImageUrl
        FROM seckill_product sp
                 JOIN product p ON sp.product_id = p.id
        WHERE sp.activity_id = #{activityId}
    </select>

    <!-- 根据活动ID和商品ID获取单个秒杀商品的详细信息（包括商品表的所有信息） -->
    <resultMap id="seckillProductResultMap" type="com.example.seckill_backend.model.SeckillProduct">
        <id property="id" column="id"/>
        <result property="activityId" column="activityId"/>
        <result property="productId" column="product_id"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="productName" column="name"/>
        <result property="productImageUrl" column="product_image_url"/>

        <!-- 嵌套映射 Product 对象 -->
        <association property="product" javaType="com.example.seckill_backend.model.Product">
            <id property="id" column="product_id"/>
            <result property="name" column="name"/>
            <result property="description" column="description"/>
            <result property="price" column="product_price"/>
            <result property="stock" column="product_stock"/>
            <result property="specifications" column="specifications"/>
            <result property="imageUrl" column="product_image_url"/>
        </association>
    </resultMap>

    <select id="getSeckillProductByActivityAndProductId" resultMap="seckillProductResultMap">
        SELECT sp.id AS id,
               sp.activity_id AS activityId,
               sp.product_id AS product_id,
               sp.price,
#                sp.stock,
               p.id AS product_id,
               p.name,
               p.description,
#                p.price AS product_price,
               p.stock AS product_stock,
               p.specifications,
               p.image_url AS product_image_url
        FROM seckill_product sp
                 JOIN product p ON sp.product_id = p.id
        WHERE sp.activity_id = #{activityId} AND sp.product_id = #{productId}
    </select>

        <!-- 删除秒杀商品 -->
        <delete id="deleteSeckillProduct" parameterType="com.example.seckill_backend.model.SeckillProduct">
            DELETE FROM seckill_product
            WHERE activity_id = #{activityId} AND product_id = #{productId};
        </delete>

</mapper>
